{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block tajuk %} abuzahrah2022 {% endblock tajuk %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% comment %} {% tailwind_css %} {% endcomment %}
        <script src="https://cdn.tailwindcss.com/"></script>
        {% block extrahead %} {% endblock extrahead %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
            
             {% block content %} {% endblock content %}
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
		</div>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% block extrascript %} {% endblock extrascript %}
	</body>
</html>
